Makefile.in
aclocal.m4
ar-lib
autom4te.cache/
build*/
compile
config.guess
config.sub
configure
depcomp
extrema.spec
install-sh
ltmain.sh
m4/
missing
src/Commands/Makefile.in
src/Expression/Makefile.in
src/Functions/Makefile.in
src/Graphics/Makefile.in
src/Makefile.in
src/Operators/Makefile.in
src/Parsing/Makefile.in
src/Utilities/Makefile.in
src/Variables/Makefile.in
src/wxForms/Makefile.in
