[Desktop Entry]
Name=eXtrema
Comment=Data visualisation and analysis
Exec=/usr/local/bin/extrema
Icon=extrema
Terminal=false
Type=Application
Encoding=UTF-8
X-Desktop-File-Install-Version=0.10
Categories=Graphics;Science;Education
